# Treat everything not text if not specified
* -text

# Human authored code
*.cs text eol=lf
*.json text eol=lf

# ShaderLab
*.cginc text eol=lf
*.shader text eol=lf

# Gradle property
*.properties text eol=lf

# AndroidManifest and other XML files
*.xml text eol=lf

# iOS plugin possible extensions
*.h text eol=lf
*.c text eol=lf
*.cpp text eol=lf
*.m text eol=lf
*.mm text eol=lf

# NeXTSTEP property list
*.plist text eol=lf

# GitLab and other services config
*.yml text eol=lf
*.toml text eol=lf

# CSharp plugin
.config/*.json -text

# Unity
*.asmdef text eol=lf
*.meta text eol=lf

# Unity animation
*.anim text eol=lf

# Unity shader graph
*.shadersubgraph text eol=lf

# Unity plugin
src/UniTime/Assets/Plugins/**/* -text

"src/UniTime/Assets/TextMesh Pro/**/*" -text

# Generated code
*Generated* -text
